<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
    Well, you probably don't know us and it's not your fault. It's just I don't feel like introducing on this stage of coding. <br />
    No worries, it'll be filled in later. <br />
    <br />
    P.
</p>