<!DOCTYPE html>
<html>
    <head>
        <title>Sample App | Help</title>
    </head>
    <body>
        <h1>Help</h1>
        <p>
            Get help on the Ruby on Rails at 
            <a href="http://google.com">youknowtheplace</a>.
            Then read some 
            <a href="http://bash.im">good jokes</a>.
        </p>
    </body>
</html>